// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}


hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $warning;
}

hr.light {
  border-color: $warning;
}

a {
  color: $warning;
  @include transition-all;
  &:hover {
    color: darken($warning, .1);
  }
}


.bg-warning {
  background-color: $warning !important;
}

.bg-mycolor {
  background-color: $mycolor !important;
  color: $mycolor2
}

.bg-pink {
  background-color: $pink !important;
}

.bg-italia {
  background-color: $italia !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-indigo {
  background-color: $indigo !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-cyan {
  background-color: $cyan !important;
}

.bg-teal {
  background-color: $teal !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

// Styling for the services section
.service-box {
  max-width: 400px;
}
