// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0073e6 !default;
$indigo: #554dff !default;
$purple: #9e99ff !default;
$pink: #ffb3bf !default;
$red: #f73e5a !default;
$orange: #ff9900 !default;
$yellow: #ffda73 !default;
$green: #00cc85 !default;
$teal: #0bd9d2 !default;
$cyan: #00fff7 !default;

$mycolor: #314f71;
$mycolor2: #EAE7F3;
$italia: #0066cc;
$gray-secondary: #5c6f82;
$gray-tertiary: #5a768a;
$gray-quaternary: #fcfdff;
$primary: #0073e6;
$secondary: #5c6f82;
$success: #00cc85;
$info: #999999;

$danger: #f73e5a;
$warning: #ff9900 !default;
$darkblue: #0059b3;
