<!DOCTYPE html>
<html lang="en">

<head>
   
   
	
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
   
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Baby Geometri</title>
  
  
  {% include head.html %}

</head>

<body id="page-top">
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 

{% include nav.html %}

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>{{ site.data.content.main.title }}</strong>
        </h1>
        {{ site.data.content.main.text }}
      </div>
      <div class="col-lg-8 mx-auto">
        <ul class="nav nav-fill justify-content-center">
          {% for nav_item in site.data.nav-main %}
          <li class="nav-item">
	  <a class="nav-link-outline-light text-white js-scroll-trigger" href="{{ nav_item.url }}"> 
		  <p class="font-weight-bold">{{ nav_item.title }}</p> </a>
          </li>
          {% endfor %}
        </ul>
        <hr>
        <a class="btn btn-warning btn-xl js-scroll-trigger" href="#whitepaper">Coming up</a>
      </div>
    </div>
  </div>
	

	
</header>

<section id="whitepaper">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.whitepaper.title }}</h2>
        <hr class="my-4">
	      <h3 <p>{{ site.data.content.whitepaper.speaker }} ({{ site.data.content.whitepaper.provenienza }})</p> </h3>
      </div>
    </div>
  </div>
	
  <div class="container">
    <div class="row">    
       <div class="col-lg-8 mx-auto text-center">
  <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#abstract">
   	Abstract  </button>
  <div id="abstract" class="collapse">   {{ site.data.content.whitepaper.abstract }}
  	</div>
    </div>
	    
    <br>
    <br>	    

 <ul style="list-style-type:none">
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-calendar"></span> {{ site.data.content.whitepaper.when }} </i>  
	</li>	  
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-time"></span> {{ site.data.content.whitepaper.time }} </i> 
	</li>
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-map-marker"></span> {{ site.data.content.whitepaper.where }}  </i> 
	</li>    
</ul>
      
	</div>
  </div>

</section>
   
   


<section class="bg-warning" id="following">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.following.title }} </h2>
        <hr class="light my-4">
         {{ site.data.content.following.text }} 
     </div>
     <h2 class="light my-4">{{ site.data.content.following.prova }} </h2>
    </div>
  </div>
</section>

   

   
<section class="bg-light" id="archivio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.archivio.title }} </h2>
        <hr class="warning my-4">
        {{ site.data.content.archivio.text }}
      </div>
    </div>
     
     <div class="col-lg-8 mx-auto text-center">
     
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./prova.html"> 2017/18 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2016-2017.pdf"> 2016/17 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2015-2016.pdf"> 2015/16 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2013-2014.pdf"> 2013/14 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2012-2013.pdf"> 2012/13 </a>
	    

      </div> 
   </div>
   

   
</section>
   
      
   
 <section class="bg-warning" id="chisiamo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.chisiamo.title }}</h2>
        <hr class="light my-4">
         {{ site.data.content.chisiamo.text }}
       </ul>
      </div>
 

<div class="card-deck">
	
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Giulio</h5>
      <p class="card-text">Studente di Martelli. Mi piacciono i disegni e le sommatorie</p>
     <a href="https://www.sns.it/ugov/persone/giulio-belletti" class="btn btn-primary">Contattami!</a>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Marco</h5>
      <p class="card-text">Studente di Martelli Mi piacciono i disegni e le sommatorie</p>
     <a href="http://people.dm.unipi.it/moraschini/" class="btn btn-primary">Contattami!</a>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Edoardo</h5>
      <p class="card-text">Studente di Martelli. Mi piaccionoo i disegni e le sommatorie</p>
     <a href="https://it.wikipedia.org/wiki/Usmate_Velate" class="btn btn-primary">Best Place</a>
    </div>
  </div>	
</div>

   </section>
  
  
   
   
   
   
<section class="bg-light" id="participate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.participate.title }}</h2>
        <hr class="my-4">
        <ul>
        {% for points in site.data.content.participate.collaboration-list %}
          <li class="mb-4">{{ points.point }}</p>
        {% endfor %}
       </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <p>{{ site.data.content.participate.phone }}</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:{{ site.data.content.participate.email }}">{{ site.data.content.participate.email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}

{% include scripts.html %}

</body>
</html>
