<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="page-top">
    {% include nav.html %}
<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>{{ site.data.content.main.title }}</strong>
            </h1>
            {{ site.data.content.main.text }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <ul class="nav nav-pills nav-fill">
              {% for nav_item in site.data.nav-main %}
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light js-scroll-trigger" href="{{ nav_item.url }}">
                {{ nav_item.title }}   </a>
              </li>
              {% endfor %}
            </ul>
	        <div class="col-lg-2"></div>
            <hr>
            <a class="btn btn-warning btn-xl js-scroll-trigger" href="#whitepaper">Coming up</a>
          </div>

          <div class="col-lg-2"></div>
        </div>
      </div>
    </header>

<section class="bg-light" id="whitepaper" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <!-- <img src="holder.js/200x200" class="rounded-circle" /> -->
            <!-- {{ site.data.content.following.title }} -->
            <!-- site.data.futuri -->
            <h2 class="section-heading">{{ site.data.content.whitepaper.titolo }}</h2>
            <hr class="my-4">
            <h3>
            <p>{{ site.data.content.whitepaper.nome }}</p>
              <p> ({{ site.data.content.whitepaper.provenienza }})</p>
            </h3>
          </div>
          <div class="col-lg-3"></div>
          <ul class="col-lg-6" style="list-style-type:none">
            <li> <i class="far fa-calendar-alt"></i> {{ site.data.content.whitepaper.data }} </li>
            <li> <i class="far fa-clock"></i>  {{ site.data.content.whitepaper.ora }} </li>
            <li> <i class="fas fa-map-marker"></i> {{ site.data.content.whitepaper.luogo }} </li>
          </ul>

          <div class="col-lg-3"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-lg-3"></div>
          <div class="col-lg-6 mx-auto text-center">
            <button class="btn btn-warning" type="button" data-toggle="collapse"
              data-target="#whitepaperAbstract" aria-expanded="false" aria-controls="whitepaperAbstract">
            Abstract
            </button>
            <div class="collapse" id="whitepaperAbstract">
              <div class="card card-body">
                {{ site.data.content.whitepaper.abstract }}
              </div>
            </div>
          </div>
          <div class="col-lg-3 mx-auto">
          </div>
        </div>
      </div>
    </section>

<section class="bg-mycolor" id="following">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">{{ site.data.content.following.title }} </h2>
    </div>
  </div>
  <div id="abstractTable">
    <div class="card d-md-block d-none" style="background-color: transparent; border:0;">
      <div class="card-header row align-items-center">
        <div class="col-sm-2 h5">
          <i class="far fa-calendar-alt"></i>
        </div>
        <div class="col-sm-1 h5">
            <i class="far fa-clock"></i>
        </div>
        <div class="col h5">
          Titolo
        </div>
        <div class="col-sm-2 h5">
          Speaker
        </div>
      </div>
    </div>
    {% for nav_item in site.data.futuri %}
    <!--     <div class="row"> -->
    <div class="card" style="background-color: transparent;  border:0;">
      <div class="card-header row align-items-center">
        <div class="col-sm-2 align-middle" style="height:100%; text-align: left;">
          {{ nav_item.data }}
        </div>
        <div class="col-sm-1 align-middle" style="height:100%; text-align: left;">
        {{ nav_item.ora }}
        </div>
        <div class="col">
          <button class="btn btn-link text-warning" class="collapsed" data-toggle="collapse"
            data-target="#abs{{ nav_item.nome }}" data-parent="#abstractTable" >
            <center>
            {{ nav_item.titolo }}
            </center>
          <!-- <i class="fas fa-chevron-circle-down"></i> -->
          </button>
        </div>
        <div class="col-sm-3">
          {{ nav_item.nome }} ({{ nav_item.provenienza }})
        </div>
      </div>
      <div class="col-sm-12 text-center collapse" id="abs{{ nav_item.nome }}">
        <div class="card-body" style=" border:0;">
          {{ nav_item.abstract }}
        </div>
      </div>
    </div>
    {% endfor %}
    <hr class="light my-4" />
    <div class="row"> <center>
      {{ site.data.content.following.text }}
    </center>
    </div>
  </div>
</section>

<section class="bg-light" id="archivio">
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center">
            <h2 class="section-heading">{{ site.data.content.archivio.title }} </h2>
            <hr class="warning my-4">
            {{ site.data.content.archivio.text }}
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="col-lg-12 mx-auto text-center">
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./seminars_18_19.html"> 2018/19 </a>
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./seminars_17_18.html"> 2017/18 </a>
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2016-2017.pdf"> 2016/17 </a>
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2015-2016.pdf"> 2015/16 </a>
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2013-2014.pdf"> 2013/14 </a>
          <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2012-2013.pdf"> 2012/13 </a>
        </div>
      </div>
    </section>

<section class="bg-mycolor" id="chisiamo">
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center">
            <h2 class="section-heading">{{ site.data.content.chisiamo.title }}</h2>
            <hr class="warning my-4">
            {{ site.data.content.chisiamo.text }}
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-deck">
              <div class="card text-center col-lg-4">
                <div class="card-body">
                  <img src="img/chi-siamo/chiara.jpg" height="360" width="360" class="mb-4 rounded-circle mx-auto d-block" style="width: 100%; height: auto;" />
                  <h5 class="card-title" style="color:black;">Chiara</h5>
                  <p class="card-text" style="color:black;">Mi occupo di geometria algebrica e polinomi bellissimi.</p>
                  <a href="https://www.sns.it/ugov/persone/giulio-belletti" class="btn btn-warning">Contattami!</a>
                </div>
              </div>
              <div class="card text-center col-lg-4">
                <div class="card-body">
                  <img src="img/chi-siamo/ludovico.jpg" height="360" width="360" class="mb-4 rounded-circle mx-auto d-block" style="width: 100%; height: auto;" />
                  <h5 class="card-title" style="color:black;">Ludovico</h5>
                  <p class="card-text" style="color:black;">Non studio volume simpliciale, bensì varietà iperboliche.</p>
                  <a href="http://people.dm.unipi.it/moraschini/" class="btn btn-warning">Contattami!</a>
                </div>
              </div>
              <div class="card text-center col-lg-4">
                <div class="card-body">
                  <img src="img/chi-siamo/edoardo2.jpg" height="360" width="360" class="mb-4 rounded-circle mx-auto d-block" style="width: 100%; height: auto;" />
                  <h5 class="card-title" style="color:black;">Edoardo</h5>
                  <p class="card-text" style="color:black;">Mi interesso di riempimenti simplettici e fibrazioni di Lefschetz.</p>
                  <a href="https://www.sns.it/ugov/persone/edoardo-fossati" class="btn btn-warning">Contattami!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="bg-light" id="participate">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.content.participate.title }}</h2>
            <hr class="my-4">

            <p>{{ site.data.content.participate.text }}</p>

            <i class="far fa-envelope"></i>   <a href="mailto:{{ site.data.content.participate.email }}">{{ site.data.content.participate.email }}</a>

          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 ml-auto text-center">
            <h3> Credits </h3>
            <hr class="my-4">

            Ringraziamo il <a href="https://teamdigitale.governo.it/it/47-content.htm">Team per la Trasformazione Digitale</a> e tutto il gruppo di <a href="https://italia.github.io/bootstrap-italia/">Bootstrap Italia</a>
 per il codice di base. In particolare, grazie a <a href="https://teamdigitale.governo.it/it/people/riccardo-iaconelli.html">Riccardo</a> per l'aiuto!
          </div>
          <div class="col-lg-3"></div>
        </div>




      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
