<!DOCTYPE html>
<html lang="en">

<head>
	

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/reset.css"> 
<link rel="stylesheet" href="css/style.css"> 
<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="js/modernizr.js"></script> 
<title>Horizontal Timeline | CodyHouse</title>
<script id="_carbonads_projs" type="text/javascript" src="//srv.carbonads.net/ads/F6AIK5T.json?segment=placement:codyhouseco&amp;callback=_carbonads_go"></script></head>
   
  
	
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
   
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Baby Geometri</title>
  
  
  {% include head.html %}
		<script src=’https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML’></script>


</head>

<body id="page-top">
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


{% include nav.html %} 
 
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto"> 
        <h1 class="text-uppercase">
          <strong>{{ site.data.content.main.title }}</strong>
        </h1>
        {{ site.data.content.main.text }}
      </div>
      <div class="col-lg-8 mx-auto">
        <ul class="nav nav-fill justify-content-center">
          {% for nav_item in site.data.nav-main %}
          <li class="nav-item">	   
		   
		  
		  <a class="btn btn-outline-light js-scroll-trigger" href="{{ nav_item.url }}">
		     {{ nav_item.title }}   </a>
		 
		</li>
          {% endfor %}
        </ul>
        <hr>
        <a class="btn btn-warning btn-xl js-scroll-trigger" href="#whitepaper">Coming up</a>
      </div>
    </div>
  </div>
	

	
</header>

<section id="whitepaper">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.whitepaper.title }}</h2>
        <hr class="my-4">
	      <h3 <p>{{ site.data.content.whitepaper.speaker }} ({{ site.data.content.whitepaper.provenienza }})</p> </h3>
      </div>
    </div>
  </div>
	
  <div class="container">
    <div class="row">    
       <div class="col-lg-8 mx-auto text-center"> 
	       
	         
<button class="btn btn-warning" type="button" data-toggle="collapse"
	data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Abstract
  </button> 
<div class="collapse" id="collapseExample">
  <div class="card card-body">
{{ site.data.content.whitepaper.abstract }}
	</div>
    </div>	
 </div>
	    
  

 <ul style="list-style-type:none">
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-calendar"></span> {{ site.data.content.whitepaper.when }} </i>  
	</li>	  
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-time"></span> {{ site.data.content.whitepaper.time }} </i> 
	</li>
  <li> <i style="font-size:24px" class="fa"> <span class="glyphicon glyphicon-map-marker"></span> {{ site.data.content.whitepaper.where }}  </i> 
	</li>    
</ul>
      
	</div>
  </div>


</section>
   
   

<section class="bg-warning" id="following">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-12 text-center">

	      prova Latex $$\rho\cos\theta $$
	      
	      {{ site.data.speaker.uno.nome }}
	      
	      <a  href="./prova2.html">link text</a>

        <h2 class="section-heading">{{ site.data.content.following.title }} </h2>
        <hr class="light my-4">
         {{ site.data.content.following.text }} 
     </div>
     <h2 class="light my-4">{{ site.data.content.following.prova }} </h2>
    </div>
  </div>
</section>

   

   
<section class="bg-light" id="archivio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.archivio.title }} </h2>
        <hr class="warning my-4">
        {{ site.data.content.archivio.text }}
      </div>
    </div>
     
     <div class="col-lg-8 mx-auto text-center">
     
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./prova.html"> 2017/18 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2016-2017.pdf"> 2016/17 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2015-2016.pdf"> 2015/16 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2013-2014.pdf"> 2013/14 </a>
        <a class="btn btn-warning btn-xl mt-5 js-scroll-trigger" href="./Baby-Geometri2012-2013.pdf"> 2012/13 </a>
	    

      </div> 
	  
	  
<section class="cd-horizontal-timeline loaded">
<div class="timeline">
<div class="events-wrapper">
<div class="events" style="width: 1800px; transform: translateX(-360px);">
<ol>
<li><a href="#0" data-date="16/01/2014" class="older-event" style="left: 120px;">16 Jan</a></li>
<li><a href="#0" data-date="28/02/2014" style="left: 300px;" class="older-event">28 Feb</a></li>
<li><a href="#0" data-date="20/04/2014" style="left: 480px;" class="older-event">20 Mar</a></li>
<li><a href="#0" data-date="20/05/2014" style="left: 600px;" class="selected">20 May</a></li>
<li><a href="#0" data-date="09/07/2014" style="left: 780px;">09 Jul</a></li>
<li><a href="#0" data-date="30/08/2014" style="left: 960px;">30 Aug</a></li>
<li><a href="#0" data-date="15/09/2014" style="left: 1020px;">15 Sep</a></li>
<li><a href="#0" data-date="01/11/2014" style="left: 1200px;">01 Nov</a></li>
<li><a href="#0" data-date="10/12/2014" style="left: 1380px;">10 Dec</a></li>
<li><a href="#0" data-date="19/01/2015" style="left: 1500px;">29 Jan</a></li>
<li><a href="#0" data-date="03/03/2015" style="left: 1680px;">3 Mar</a></li>
</ol>
<span class="filling-line" aria-hidden="true" style="transform: scaleX(0.344592);"></span>
</div> 
</div> 
<ul class="cd-timeline-navigation">
<li><a href="#0" class="prev">Prev</a></li>
<li><a href="#0" class="next">Next</a></li>
</ul> 
</div> 
<div class="events-content" style="height: 276px;">
<ol>
<li class="" data-date="16/01/2014">
<h2>Horizontal Timeline</h2>
<em>January 16th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="28/02/2014" class="">
<h2>Event title here</h2>
<em>February 28th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="20/04/2014" class="">
<h2>Event title here</h2>
<em>March 20th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="20/05/2014" class="selected">
<h2>Event title here</h2>
<em>May 20th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="09/07/2014">
<h2>Event title here</h2>
<em>July 9th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="30/08/2014">
<h2>Event title here</h2>
<em>August 30th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="15/09/2014">
<h2>Event title here</h2>
<em>September 15th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="01/11/2014">
<h2>Event title here</h2>
<em>November 1st, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="10/12/2014">
<h2>Event title here</h2>
<em>December 10th, 2014</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="19/01/2015">
<h2>Event title here</h2>
<em>January 19th, 2015</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
<li data-date="03/03/2015">
<h2>Event title here</h2>
<em>March 3rd, 2015</em>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
</p>
</li>
</ol>
</div> 
</section>
<div class="cd-nugget-info">
<a href="https://codyhouse.co/gem/horizontal-timeline">
<span>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
<style type="text/css">
					.cd-nugget-info-arrow{fill:#383838;}
				</style>
<polygon class="cd-nugget-info-arrow" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 "></polygon>
</svg>
</span>
Article &amp; Download
</a>
</div> 
<div id="carbonads-container">
<div class="carbonad">
<script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=codyhouseco" id="_carbonads_js"></script><div id="carbonads"><span><span class="carbon-wrap"><a href="https://clk.tradedoubler.com/click?p=264355&amp;a=2947467&amp;g=23778000" class="carbon-img" target="_blank" rel="noopener"><img src="https://assets.servedby-buysellads.com/p/manage/asset/id/61450" alt="" border="0" height="100" width="130" style="max-width: 130px;"></a><a href="https://clk.tradedoubler.com/click?p=264355&amp;a=2947467&amp;g=23778000" class="carbon-text" target="_blank" rel="noopener">Adobe Creative Cloud for Teams starting at $29.99 per month.</a></span><a href="http://carbonads.net/?utm_source=codyhouseco&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon" class="carbon-poweredby" target="_blank" rel="noopener">ads via Carbon</a></span></div>
</div>
<a href="#0" class="close-carbon-adv">Close</a>
</div> 
<script src="js/jquery-2.1.4.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/main.js"></script> 
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-48014931-1', 'codyhouse.co');
  	ga('send', 'pageview');

  	jQuery(document).ready(function($){
  		$('.close-carbon-adv').on('click', function(event){
  			event.preventDefault();
  			$('#carbonads-container').hide();
  		});
  	});
</script>


	  
   </div>
   

   
</section>
   
      
   
 <section class="bg-warning" id="chisiamo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.chisiamo.title }}</h2>
        <hr class="light my-4">
         {{ site.data.content.chisiamo.text }}
       </ul>
      </div>
 

<div class="card-deck">
	
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Giulio</h5>
      <p class="card-text">Studente di Martelli. Mi piacciono i disegni e le sommatorie</p>
     <a href="https://www.sns.it/ugov/persone/giulio-belletti" class="btn btn-primary">Contattami!</a>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Marco</h5>
      <p class="card-text">Studente di Martelli. Mi piaccion i disegni e le sommatorie</p>
     <a href="http://people.dm.unipi.it/moraschini/" class="btn btn-primary">Contattami!</a>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Edoardo</h5>
      <p class="card-text">Studente di Martelli. Mi piaccionoo i disegni e le sommatorie</p>
     <a href="https://it.wikipedia.org/wiki/Usmate_Velate" class="btn btn-primary">Best Place</a>
    </div>
  </div>	
</div>

   </section>
  
  
   
   
   
   
<section class="bg-light" id="participate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.content.participate.title }}</h2>
        <hr class="my-4">
        <ul>
        {% for points in site.data.content.participate.collaboration-list %}
          <li class="mb-4">{{ points.point }}</p>
        {% endfor %}
       </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <p>{{ site.data.content.participate.phone }}</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:{{ site.data.content.participate.email }}">{{ site.data.content.participate.email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}

{% include scripts.html %}

</body>
</html>
